* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: azure;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  background-image: linear-gradient(rgba(42,9,8,0.8), rgba(42,9,8,0.9)), url('./assets/home-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Cabin', sans-serif;
}

.container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
}

.btn {
  display: block;
  width: 30%;
  margin: 0.5em auto;
}

.navbar {
  width: 100%;
  background-color: #2A1313;
}

.navbar .nav-link {
  font-size: 1rem;
}

.navbar,
.linksContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25em 0.5em;
}

.nav-link.active {
  text-decoration: underline;
}

.navbarLogo {
  width: 8vw;
  height: 9vh;
}

.contentContainer {
  padding: 1em;
}

.sorting--hogwartsLogo  {
  width: 30%;
  height: 30%;
  display: block;
  margin: 0 auto;
  max-height: 300px;
  max-width: 300px;
}

.footer {
  background-color: #161616;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  margin-top: auto;
}

.linksContainer {
  gap: 1.5em;
  flex-wrap: wrap;
}