* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: azure;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  background-image: linear-gradient(rgba(4,9,28,0.6), rgba(4,9,28,0.9)), url('./assets/home-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Cabin', sans-serif;
}

.container {
  padding: 0;
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}

.navbar {
  width: 100%;
  max-height: 100px;
}

.navbar .nav-link {
  font-size: 1rem;
}

.navbar,
.linksContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: gainsboro;
  padding: 0.25em 0.5em;
  color: #161616;
}

.nav-link.active {
  text-decoration: underline;
}

.navbarLogo {
  width: 8%;
  height: 8%;
}

.footer {
  background-color: wheat;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
}

.footer > p {
  color: #161616;
}

.linksContainer {
  gap: 1.5em;
  flex-wrap: wrap;
}