#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
  background-image: linear-gradient(rgba(4,9,28,0.7), rgba(4,9,28,0.9)), url('./assets/home-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Cabin', sans-serif;
}
